@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/changa/v11/2-c79JNi2YuVOUcOarRPgnNGooxCZ62xcjfj8g.ttf) format('truetype');
}
@font-face {
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/frankruhllibre/v6/j8_36_fAw7jrcalD7oKYNX0QfAnPU0PG9JfGgQ.ttf) format('truetype');
}
